.boite {
    display: flex;
    align-items: center;
}

.main-home {
    flex: 1;
    text-align: center;
    align-items: center;
    background-color: var(--background-color);
}

.container-home {
    padding-top: 2vh;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    height: 50vh;
    width: 60vh;
}

@media screen and (max-width:768px) {
    .container-home {
        height: 50vh;
        width: 60vh;
    }
}

.carousel-home {
    display: flex;
    transition: transform 0.5s ease;
    list-style: none;
    padding: 0;

}

.carousel-home li {
    flex: 0 0 100%;
    margin-right: 0px;
}

.carousel-home img {
    max-width: 100%;
    min-height: 50vh;
    max-height: 50vh;
}

@media screen and (max-width:768px) {
    .carousel-home img {
        width: 100%;
        min-height: 50vh;
        max-height: 50vh;
    }
}

.home-photo {
    width: 60%;
}

.broche {
    flex-direction: column-reverse;
    flex: 0;
    position: fixed;
    top: 20%;
    right: 5%;
    width: 25vh;
    height: 40vh;
    border-radius: 50% 50% 50% 50% / 25% 25% 75% 75%;
    background: linear-gradient(90deg, #faf0de, #A64F07);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    z-index: 1;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(65, 63, 63);
}

@media screen and (max-width:768px) {
    .broche {
        width: 15vh;
        height: 30vh;
    }
}

.titre2-home {
    font-family: var(--title-font);
    font-size: 4rem;
    color: var(--text-color);
}

.texte-home {
    font-family: var(--primary-font);
    font-size: 1rem;
    padding-bottom: 10px;
    padding-left: 15vh;
    padding-right: 15vh;
    color: var(--text-color);
}

@media screen and (max-width:768px) {
    .texte-home {
        font-size: 22px;
        padding-bottom: 0px;
        padding-top: 70px
    }
}
.texte-broche{
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--text-color);
    font-weight:600;
}