* {
    box-sizing: border-box;
    text-align: center;
}
:root {
    --primary: #33A037;
    --light: white;
    --backgroud-color: #faf0de;
    --text-color:#4A4A4A;
    --primary-font: 'montserrat';
    --title-font: 'montez';
    --padding:1rem;
    --margin:1rem;
    --font-size:1rem; 
}
body {
    font-family: var(--primary-font);
    margin:0;
}
.main {
    background-color: var(--backgroud-color);
}
/* header */
header {
    max-width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-image: url("/pictures/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: var(--light);
    padding: .5rem;
}
.title-head-menu{
    font-family: var(--primary-font);
    color: black;
    text-align: center;
    font-size: 4rem;
    padding-top: 2em;
}
.main-menu {
    font-family: var(--primary-font);
    margin: 0;
    line-height: 1.5;
    background-color:#fff;
}
.title-menu {
    font-family: 'Montez';
    text-align: center;
    font-size: 3rem;
    padding-top: var(--padding);
    margin-bottom: var(--margin);
}
/*Form {
    text-align: left;
    margin:auto;
    width: 38em;
}
label {
    margin-left:11rem;
    display: block;
    padding-top:1em;
    padding-bottom: 0.2em;
    font-weight:normal;
}
input, textarea{
    margin-left:11rem;
    display: inline-block;
    padding: .8rem;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
}
button {
    background: var(--primary);
    color:#fff;
    border-radius: 10px;
    padding:12px;
    font-weight:normal;
    margin-top:2em;
    margin-bottom: 4rem;
    margin-left:11rem;
    box-shadow: -2px 5px 10px rgb(0 0 0 / 20%);
}
*/

.img-container-menu {
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.img-container-menu p{ 
    padding: calc(1.5*var(--padding)) 0;
    text-align: center;
    margin: 0 auto;
}
.img-container-menu img{
    max-width: 100vw;
    box-shadow: -2px 3px 5px rgb(0 0 0 / 20%);
}
