
/* header */
header {
    max-width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-image: url("/pictures/table.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: var(--light);
}
.main-menu {
    font-family: var(--primary-font);
    margin: 0;
    line-height: 1.5;
    background-color:var(--background-color);
    color: var(--text-color);
    text-align: center;
}
.title-head-menu{
    color: var(--text-color);
   
    font-family: var(--title-font);
    font-size: calc(var(--font-size)*3);
    padding: calc(var(--padding)*1.5) 0;
}

.title-menu{
    padding-top: var(--padding);
    font-family: var(--title-font);
    font-size: calc(var(--font-size)*1.75);
}

.img-container-menu {
    overflow: hidden;
    border-radius: 20px;
}
.img-container-menu p{ 
    padding: calc(1.5*var(--padding)) calc(1.5*var(--padding));
}
.img-container-menu img{
    max-width: 100vw;
    box-shadow: -2px 3px 5px rgb(0 0 0 / 20%);
}
.img-menu{
    width: 75%;
}
