:root {
    --primary: #33A037;
    --light: white;
    --background-color: #faf0de;
    --text-color:#4A4A4A;
    --primary-font: 'montserrat';
    --title-font: 'montez';
    --padding:1rem;
    --margin:1rem;
    --font-size:1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    list-style: none;
    text-decoration: none;
}
nav {
    background-color: var(--primary);
    display: block;
}
nav img{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}
nav h1 {
    color: var(--light);
    text-align: center;
    font-family: var(--title-font);
    font-size: calc(var(--font-size)*4);
}


.navbar-links ul {
    width: 100vw;
    display: inline-flex;
    justify-content: space-around;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: var(--light);
    padding: calc(var(--padding)*0.5) calc(var(--padding)*0.75);
}
.navbar-links li a:hover{
    color: var(--primary);
}
.navbar-links li:hover {
    background-color: var(--background-color);
}

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--light);
}
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    nav h1{
        font-size: calc(var(--font-size)*3);
    }
    nav img{
        display: none;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: calc(var(--padding)*0.5) var(--padding);
    }

    .navbar-links.active {
        display: flex;
    }
}