:root {
    --primary: #33A037;
    --light: white;
    --primary-font: 'montserrat';
    --title-font: 'montez';
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--primary-font);
}

